{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>{{ serie.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ serie.titre }}</td>
            </tr>
            <tr>
                <th>Nbr_saison</th>
                <td>{{ serie.nbrSaison }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ serie.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('serie_index') }}">back to list</a>

    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
